<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836616587078-1o89530edmhj8399d20jdv0b9duru8jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836616587078-1o89530edmhj8399d20jdv0b9duru8jh</string>
	<key>API_KEY</key>
	<string>AIzaSyAyt_7qhJfuS2Ove7jqkgfDsyoIW3R84EM</string>
	<key>GCM_SENDER_ID</key>
	<string>836616587078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.dexwin.quickcash</string>
	<key>PROJECT_ID</key>
	<string>quickcash-1f99d</string>
	<key>STORAGE_BUCKET</key>
	<string>quickcash-1f99d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836616587078:ios:9f54116738aa9661</string>
	<key>DATABASE_URL</key>
	<string>https://quickcash-1f99d.firebaseio.com</string>
</dict>
</plist>